body{
    margin: 0;
    font-size: 100%;
    text-align: center;
    font-family: 'Merriweather', serif;
    color: #40514E;
}
h1{
    margin-top: 50px;
    font-size: 5.6rem;
    font-family: 'Sacramento', cursive;
    color: #66BFBF;
    /* position: sticky; */
}
h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #66BFBF;
    font-weight: normal;
    padding-bottom: 10px;
}
h3{
    color: #11999E;
    font-family: 'Montserrat Alternates', sans-serif;
} 
p{
    line-height: 2;
}
a{
    color: #11999E;
    font-family: 'Montserrat Alternates', sans-serif;
    margin: 10px 20px;
    text-decoration: none;
}
a:hover{
    color: #EAF6F6;
}

hr{
    width: 4%;
    border-width: 6px;
    border-style: dotted none none;
    color: #EAF6F6;
    margin: 100px auto;
}
.tcloud{
    position: absolute;
    right: 300px;
    top: 30px;
}
.bcloud{
    position: absolute;
    left: 300px;
}
.top-container{
    background-color: #EAF6F6;
    position: relative;
    padding-top: 100px;
}

.skill-row{
    width: 50%;
    margin: 100px auto ;
    text-align: left;
}   
.skill-img1{
    float: left;
    margin-right: 30px;
    width: 25%;
}
.skill-img2{
    float: right;
    margin-left: 30px;
    width: 25%;
}
.middle-container{
    margin: 100px 0;
}
.Intro{
    width: 30%;
    margin: auto;
}
.contact-message{
    width: 40%;
    margin: 40px auto 60px;
}
.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 10;
    -moz-border-radius: 10;
    border-radius: 10px;
    font-family: 'Montserrat Alternates', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }
.bottom_container{
    background-color: #66BFBF;
    padding: 50px 0 20px;
}

.copy-right{ 
    color: #EAF6F6;
    font-size: 0.75rem;
    margin-bottom: 0;  /* we get margin from browser */
    padding: 20px 0;
}

/* font-family: 'Merriweather', serif;
font-family: 'Montserrat Alternates', sans-serif;
font-family: 'Sacramento', cursive; */